.node
node_modules/
__pycache__/
.eslintrc.json

# IDEs project files
.idea
.vscode
rest-client.env.json
# Folder view configuration files
*.DS_Store
Desktop.ini
# Thumbnails
._*
Thumbs.db

.pytest_cache/

# Installer logs
pip-log.txt
pip-delete-this-directory.txt
